*, *::before, *::after{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}

body{
    background-color: rgb(158, 158, 182);
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    color: white;
}
._container{
    box-sizing: content-box;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 15px;
}

/*================================================================================================*/
.header__container{
    display: flex;
    align-items: center;
    padding-top: 15px;

}

.header__image{
    width: 83px;
    height: 33px;
}
.header_list{
    padding-left: 600px;
}
.header_item{
    display: inline-block;
}

.header_item:not(:last-child){
    padding: 0px 25px 0px 0px;
}

/*================================================================================================*/
main__container{
    display: flex;
    align-items: center;
    padding-top: 55px;
}

.main__profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
}

.main__image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid rgb(125, 125, 158);
}

.main__info-block{
    padding-left: 100px;
}

.main__name{
    font-size: 56px;
}

.main__about{
    font-size: 24px;
}

.main__about > span{
    color:rgb(125, 125, 158);
}

.main__wrapper-contacts{
    display: flex;
    justify-content: center;
}
.main__contacts{
    font-size: 14px;
    font-weight: 400;
}

.main__contacts:not(:last-child){
    padding-right: 30px;
}

.main__contacts::first-letter {
    color:rgb(125, 125, 158);
    font-weight: 700;
}
