*, *::before, *::after{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}

html{
    height: 100%;
}
body{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(113, 113, 168);
    color: white;
}

._container{
    box-sizing: content-box;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

/*========================================================HEADER========================================================*/
.header__container{
    display: flex;
    align-items: center;
    padding-top: 15px;

}

.header__image{
    width: 83px;
    height: 33px;
}
.header__list{
    padding-left: 600px;
}
.header__item{
    display: inline-block;
}

.header__item::first-letter{
    color: rgb(213, 213, 255);
}


.header__item:not(:last-child){
    padding: 0px 25px 0px 0px;
}

.header__item > a:hover{
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 2px;
	background-image: linear-gradient(to right, rgb(213, 213, 255), rgb(71, 71, 126));    
}


/*========================================================MAIN__PROFILE========================================================*/
main{
    flex: 1 1 auto;
}
.main__profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
}

.main__image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid rgb(213, 213, 255);
}

.main__info-block{
    padding-left: 100px;
}

.main__name{
    font-size: 56px;
}

.main__about{
    font-size: 24px;
}

.main__about > span{
    color:rgb(213, 213, 255);;
}

.main__contacts-list{
    display: flex;
    justify-content: center;
}
.main__contacts-item{
    display: inline;
    font-size: 14px;
    font-weight: 400;
}

.main__contacts-item:not(:last-child){
    padding-right: 30px;
}

.main__contacts-item:first-letter {
    color:rgb(213, 213, 255);;
    font-weight: 700;
}

/*========================================================MAIN__OTHER========================================================*/
._other-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;

    font-size: 18px;

}

._other-info-header{
    font-size: 26px;
    font-weight: 700;
    padding-top: 115px;

    text-decoration: none;
	background-repeat: no-repeat;
	background-position: center bottom 1px;
	background-size: 100% 2px;
	background-image: linear-gradient(to right, rgb(213, 213, 255), rgb(71, 71, 126));
}


._other-info-header:not(:last-child){
    margin-bottom: 30px;
}

.skills__table{
    vertical-align: center;
    text-align: right;
    border-spacing: 30px;
    border-collapse: collapse;
    
}

th:nth-child(2), td:nth-child(2) {
    padding: 8px;
    text-align: right;
    border-left: 2px solid rgb(213, 213, 255);;
}

th, td {
    padding-right: 10px;
    
}

.education__item{
    list-style-type: square;
}

.education__item:not(:last-child){
    padding-bottom: 5px;
}

.education__item::marker{
    color:rgb(213, 213, 255);
}

.code__wrapper{
    width: 70%;
    padding: 30px 30px 10px 30px;

    font-weight: 700;
    color: black;
    background-color:rgb(213, 213, 255);
}

.project__list{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.project__list img{
    width: 600px;
    
}

.project__item{
    border: 3px solid rgb(213, 213, 255);
}

/*========================================================FOOTER========================================================*/

.footer__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    padding: 30px;

    background-color:rgb(213, 213, 255);
}


.footer__name, .footer__git{
    margin-top: 10px;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
}
